<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mymap.item.mapper.MapTagMapper">
  <resultMap id="BaseResultMap" type="mymap.item.entity.MapTag">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="tag_id" jdbcType="BIGINT" property="tagId" />
    <result column="tag_name" jdbcType="VARCHAR" property="tagName" />
    <result column="tag_address" jdbcType="VARCHAR" property="tagAddress" />
    <result column="tag_rules" jdbcType="VARCHAR" property="tagRules" />
    <result column="tag_lng" jdbcType="DECIMAL" property="tagLng" />
    <result column="tag_lat" jdbcType="DECIMAL" property="tagLat" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    tag_id, tag_name, tag_address, tag_rules, tag_lng, tag_lat
  </sql>
  <select id="selectByExample" parameterType="mymap.item.entity.MapTagExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from map_tag
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="mymap.item.entity.MapTagExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from map_tag
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="mymap.item.entity.MapTagExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from map_tag
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update map_tag
    <set>
      <if test="record.tagId != null">
        tag_id = #{record.tagId,jdbcType=BIGINT},
      </if>
      <if test="record.tagName != null">
        tag_name = #{record.tagName,jdbcType=VARCHAR},
      </if>
      <if test="record.tagAddress != null">
        tag_address = #{record.tagAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.tagRules != null">
        tag_rules = #{record.tagRules,jdbcType=VARCHAR},
      </if>
      <if test="record.tagLng != null">
        tag_lng = #{record.tagLng,jdbcType=DECIMAL},
      </if>
      <if test="record.tagLat != null">
        tag_lat = #{record.tagLat,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update map_tag
    set tag_id = #{record.tagId,jdbcType=BIGINT},
      tag_name = #{record.tagName,jdbcType=VARCHAR},
      tag_address = #{record.tagAddress,jdbcType=VARCHAR},
      tag_rules = #{record.tagRules,jdbcType=VARCHAR},
      tag_lng = #{record.tagLng,jdbcType=DECIMAL},
      tag_lat = #{record.tagLat,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>